#top-left-menu-bar {
    box-sizing: border-box;
    padding-left: 0;
    margin-bottom: 0;
    /*
    list-style: none;
    */
}
.login-prompt-wrapper {
    width: 80%;
    border: 5px solid #b3b7cb;
    margin: 3em auto;
    padding: 30px;
    border-radius: 30px;
    background-image: url(images/HGI_logo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
#-link