{use_macro file="Dataface_Main_Template.html"}
    {fill_slot name="main_section"}
        <h1>Welcome to the HGI Job Database</h1>
        
        <p>      <!-- 
     Print 'Hello Steve' if Steve is logged in,
     'Hello Helen' if Helen is logged in, or just 
     'Hello' if nobody is logged in. 
-->
<p><!-- Hello {$ENV.username}  --></p>
</br>

<!-- Print some personal user info -->

            This system allows you to manage the personal and professional information of people who have registered.  Some common actions you may perform with this system
        include:
            <ul>
                <li><img src="{$ENV.DATAFACE_URL}/images/add_icon.gif"/>
                    <a href="{$ENV.DATAFACE_SITE_HREF}?-table=detail&-action=new">
                        Create New Record</a>
                </li>
                <li>

                    <img src="{$ENV.DATAFACE_URL}/images/edit.gif"/><a href="">Edit</a> existing record:
                </li>
                <!--
                <li><img src="{$ENV.DATAFACE_URL}/images/edit.gif"/>
                   Edit existing record: 
                   <select onchange="window.location.href=this.options[this.selectedIndex].value">
                    <option value="">Select ...</option>
                    {foreach from=$detail item=onedetail}
                        <option value="{$onedetail->getURL('-action=edit')}">
                            {$onedetail->getTitle()}
                        </option>
                    
                    {/foreach}
                </select>

                </li>
                -->
                
                
            </ul>

      
</p>
<div class="row">
<div class="Registrants col-md-6" >
    <!-- First Column
    -->
    <h1 class="sub-header">Registrants</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead><tr>
                <th>Username</th>
                <th>Link</th>
            </tr></thead>
            <tbody>

    {foreach from=$detail item=onedetail}
    <tr>
        <td>{$onedetail->getTitle()}</td>
        <td><a href="{$onedetail->getURL()}">View record</a></td>
            </tr>

    {/foreach}
            </tbody>
        </table>
    </div>
</div>
    <div class="NumberofRegistrants col-md-6" >
        <!-- Second Column
        -->


        <h1 class="sub-header">Number of people</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead><tr>
                    <th>gender</th>
                    <th>#</th>
                </tr></thead>
                <tbody>
        <tr><td>Males  </td>
            <td>{$malecount}</td></tr>

        <tr><td>Females  </td>
            <td>{$femalecount}</td></tr>



        <div class="table-responsive">
            <h3 class="sub-header">Skills</h3>
            <table class="table table-striped">
                <thead><tr>
                    <th>type</th>
                    <th>#</th>
                </tr></thead>
                <tbody>
<tr>
 <td>Programming </td>
    <td>{$prgcount}</td></tr>
<tr><td>Networking</td>
    <td> {$ntwkcount}</td></tr>
<tr> <td>      SysAdmin </td>
    <td>{$admincount}</td></tr>



                </tbody>
                </table>
    </div>
</div>
    {/fill_slot}
{/use_macro}