{use_macro file="Dataface_Main_Template.html"}

{fill_slot name="main_section"}
<h1><a href="http://localhost/jobsite">Register Now</a></h1>


<p>

    Register today to take advantage of HGI’s powerful search tools to help you find that perfect job.
    We make things easy for our job seekers, we provide the jobs and you apply via our simple and quick
    application process.
    Let jobs come to you with our arsenal of tools, including daily and instant job alerts.
    Upload and activate your CV and allow prospective employers to find you.

    <a href="http://localhost/jobsite" class="btn btn-primary">Register Now</a>
</p>
{/fill_slot}

{/use_macro}
