{use_macro file="Dataface_Main_Template.html"}
{fill_slot name="main_section"}
<h1>Registration Submitted Successfully</h1>
<p>Thank you for registering on our Job Portal.
    We have received your submission and will be contacting you if any opportunities come our way.  In the mean time, if you have any questions,
    please contact us at <a href="mailto:{$ENV.APPLICATION.contact_email}">{$ENV.APPLICATION.contact_email}</a>.</p>

<p>Click <a href="http://hgi.co.zw">here to return to the HGI Web Page</a>.</p>
{/fill_slot}
{/use_macro}